<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}PCHSI Recommends{% endblock %}</title>
	
	{% block styles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}pchsi-recommends/css/pchsi-recommends.css" >
	{% endblock %}
	
	{% block scripts %}

	{% endblock %}
</head>
<body>
	<div id="header" class="top container">
		<div id="site-logo">Just Ask Dr.SF</div>
		<ul class="nav">
			<li><a href="#">For SF Community</a></li>
			<li><a href="#">For Health Providers</a></li>
		</ul>
	</div>
	<div class="container">
		<div id="content">
			{% block content %}
	
			{% endblock %}
		</div>
	</div>
	<div id="footer" class="container bottom">
		<ul>
			<li><a href="/questions/">Questions</a></li>
			<li><a href="/recomendations/">Recommendations</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>
		<p>Clarifying text about copyright and cool things.</p>
	</div>
</body>
</html>