<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}Just Ask SF{% endblock %}</title>
	
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	
	{% block styles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}pchsi-recommends/css/pchsi-recommends.css" >
	{% endblock %}
	
	{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}pchsi-recommends/js/respond.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}pchsi-recommends/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}pchsi-recommends/js/csrf.ajax.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}pchsi-recommends/js/handlebars.js"></script>
	{% endblock %}
</head>
<body>
	<div id="header" class="top container">
		<div class="container-inner">
			{% block header %}
			<div class="attribution dph">
				<span class="line">City and Country of San Francisco</span>
				<span class="line">Department of Public Health</span>
				<span class="line">Population Health and Prevention</span>
			</div>
			<div class="skyline"></div>
			<div id="site-logo" class="logo site-logo"><a href="/">Just Ask SF</a></div>
			<div class="navbar">
				<div class="navbar-inner">
					{% block navigation %}
				
					{% endblock %}
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
	<div class="container">
		<div id="content" class="content container-inner">
			{% block content %}
	
			{% endblock %}
		</div>
	</div>
	<div id="footer" class="container bottom">
		<div class="container-inner">
			{% block footer %}
			<div class="footer-line"></div>
			<div class="logo-row">
				<a href="http://www.healthysanfrancisco.org/" class="healthysf healthysf-logo logo">Healthy San Francisco</a>
				<a href="http://www.sfdph.org" class="sfdph sfdph-logo logo">San Francisco Department of Public Health</a>
				<ul class="sections sections-list">
					<li class="section section-sfdph"><a href="http://www.sfdph.org" class="sfdph">San Francisco Department of Public Health</a></li>
					<li class="section section-cdcp"><a href="http://www.sfcdcp.org" class="cdcp">San Francisco Communicable Disease Control and Prevention</a></li>
					<li class="section section-sfcc"><a href="http://www.sfcityclinic.org/" class="sfcc">San Francisco City Clinic</a></li>
					<li class="section section-sfhiv"><a href="http://www.sfhiv.org/" class="sfhiv">San Francisco HIV Prevention Section</a></li>
				</ul>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<ul class="nav">
						<li><a href="/"><i></i>For San Franciscans</a></li>
						<li><a href="/providers"><i></i>For Providers</a></li>
						<li><a href="/developers"><i></i>For Developers</a></li>
						<li><a href="/admin/"><i></i>Site Administration</a></li>
					</ul>
				</div>
				<div class="span4">
					<div class="alert">
						<p>Updated March 2012.</p>
					</div>
				</div>
				<div class="span4">
					<div class="disclaimer address">
					San Francisco Department of Public Health<br>
					Population Health and Prevention<br>
					101 Grove St<br>
					San Francisco, CA 94102<br>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
</body>
</html>