<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>{% block title %}PCHSI Recommends{% endblock %}</title>
	
	{% block styles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}pchsi-recommends/css/pchsi-recommends.css" >
	{% endblock %}
	
	{% block scripts %}

	{% endblock %}
</head>
<body>
	<div id="header" class="top container">
		<div id="site-logo">Just Ask Dr.SF</div>
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav nav-pills pull-right">
					<li><a href="/">Answer Questions</a></li>
					<li><a href="/recs">For Providers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="content" class="content">
			{% block content %}
	
			{% endblock %}
		</div>
	</div>
	<div id="footer" class="container bottom">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav nav-pills pull-left">
					<li><a href="/">Answer Questions</a></li>
					<li><a href="/recs">For Providers</a></li>
				</ul>
				<ul class="nav nav-pills pull-right">
					<li><a href="/admin/">Admin</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<p>Clarifying text about copyright and cool things.</p>
		</div>
	</div>
</body>
</html>