{% extends 'base.html' %}

{%	block content	%}
<div class="hero-unit">
	<h1>Clinical Resources</h1>
	<p>We've collected clinical resources to be used by clinicians working with patients.</p>
</div>
<div class="row-fluid">
	<div class="span4">
		<h2>Online Form</h2>
		<p>To ease medical providers duties while working with clients, we made <a href="/providers/form/">a web form for providers</a> to use while screening clients for treatment.</p>
	</div>
	<div class="span4">
		<h2>Printable Tables</h2>
		<p>Download the latest <a href="{{ STATIC_URL }}documents/Preventive_Services_Guidelines.docx">table of recommendations for screening and vaccination here.</a></p>
	</div>
	<div class="span4">
		<h2>Screens and Vaccines</h2>
		<p>Find out more about each screen and vaccine that we recommend on this website.</p>
		<ul>
		{% for screen in screens %}
		<li class="screen screen-list"><a href="/screens/{{screen.id}}">{{screen.name}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{%	endblock	%}