.logo{
	overflow:hidden;
	text-indent:-10000px;
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
}
.logo-row{
	display:block;
	clear:both;
	margin:@spaceSize 0px;
	.logo{
		display:block;
		height:100px;
		width:50px;
		overflow:hidden;
	}
	.sections{
		display:block;
	}
}

.healthysf-logo, .logo-row .healthysf-logo{
	background-image:url('../i/logo-healthy-sf.jpg');
	width:120px;
}
.sfdph-logo, .logo-row .sfdph-logo{
	background-image:url('../i/logo-sfseal-200.png');
	width:220px;
	height:220px;
}


.sections-list{
	margin:0px;
	padding:0px;
	li{
		list-style-type:none;
	}
}
.section-sfdph{
	font-weight:bold;
	font-size:1.2em;
	line-height:1.4em;
}
