.logo{
	overflow:hidden;
	text-indent:-10000px;
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
}

.logo-row{
	display:block;
	height:200px;
	clear:both;
	.logo{
		display:block;
		float:left;
		height:100px;
		width:50px;
		overflow:hidden;
		margin-right:@spaceSize;
	}
	.sections{
		display:block;
		float:left;
	}
	.logo{
		margin-top:80px;
	}
	.sections{
		margin-top:120px;
	}
	.healthysf-logo{
		background-image:url('../i/logo-healthy-sf.jpg');
		width:120px;
	}
	.sfdph-logo{
		background-image:url('../i/logo-sfseal-200.jpg');
		width:200px;
		height:200px;
		margin-top:0px;
	}
}

.sections-list{
	margin:0px;
	padding:0px;
	li{
		list-style-type:none;
	}
}
