.bottom.container{
	padding:7px 0px;
	font-size:12px;
	line-height:13px;
	color:#999;
	clear:both;
	.content{
		padding:14px 0px;
	}
}

#footer{
	.footer-line{
		display:block;
		position:absolute;
		top:40px;
		left:-38px;
		z-index:3;
		background-image:url('../i/footer-wrap.png');
		background-repeat:top left;
		background-repeat:no-repeat;
		width:957px;
		height:80px;	
	}
	.logo-row{
		position:absolute;
		top:0px;
		left:40px;
		z-index:5;
	}
	.logo-row{
		.logo{
			margin-top:100px;
		}
		.sfdph-logo{
			margin-top:0px;
		}
		.sections{
			margin-top:110px;
		}
	}
	.content{
		padding-top:200px + @spaceSize*4;
	}
}

.bottom{
	.nav-list{
		
	}
}