.bottom.container{
	padding:7px 0px;
	font-size:12px;
	line-height:13px;
	color:#999;
	clear:both;
	.content{
		padding:14px 0px;
	}
}

#footer{
	.footer-line{
		display:block;
		position:absolute;
		top:40px;
		left:-29px;
		z-index:3;
		background-image:url('../i/footer-wrap.png');
		background-repeat:top left;
		background-repeat:no-repeat;
		width:957px;
		height:50px;	
	}
	.logo-row{
		position:absolute;
		top:0px;
		left:40px;
		z-index:5;
	}
	.content{
		padding-top:200px;
	}
}

.bottom{
	.nav-list{
		
	}
}