.container{
	width:auto;
	margin:0px;
	background-color:@white;
	overflow:hidden;
	.container-inner{
		position:relative;
		margin:0px @spaceSize;
	}
	.column{
		display:block;
		margin:@spaceSize 0px;
	}
}

// @media all and (min-width: @screenTablet) {
	.content{
		margin:0px 49px;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
		width:720px;
	}
	.container{
		margin:0px auto;
		width:760px;
		background-image:url('../i/container-background-700.png');
		background-color:transparent;
		background-repeat:repeat-y;
		background-position:top left;
		.container-inner{
			margin:0px (20px + @spaceSize/2);
		}
		.column{
			display:block;
			float:left;
			margin:0px @spaceSize;
			width:325px;
		}
	}
// }

// @media all and (min-width: @screenNormal) {
	.content{
		margin:0px 49px;
	}
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
		width:900px;
	}
	.container{
		width:940px;
		background-image:url('../i/container-background-900.png');
		background-color:transparent;
		background-repeat:repeat-y;
		background-position:top left;
		.container-inner{
			position:relative;
			margin:0px (20px + @spaceSize);
		}
		.column{
			display:block;
			float:left;
			margin:0px @spaceSize;
			width:420px;
		}
	}	
// }