@import "variables";

body{
	background:#FFF;
}

#header{
	height:auto;
}

.container{
	width:auto;
	pargin:0.5cm;
	.content{
		margin:0px;
	}
}

.recommendation{
	padding:@spaceSize @spaceSize*2;
}

#footer{
	color:#000;
	font-size:1em;
	margin-top:@spaceSize*2;
	.address{
		margin-top:@spaceSize;
		&.address-logo{
			position:relative;
			padding-left:104px + @spaceSize;
			padding-top:20px;
			.sfdph-logo{
				position:absolute;
				top:0px;
				left:0px;
				background-image:url('../i/logo-sfseal-100.jpg');
				width:104px;
				height:104px;
			}
			img.sfdph-logo{
				background-image:none;
			}
		}
	}
}