@import "variables";

.recommendations{
	background-color:@grayLighter;
	padding:@gridGutterWidth/2 0px;
	.actions,.directions{
		margin:0px @gridGutterWidth/2;
	}
	.recommendation{
		background-color:@white;
		margin:@gridGutterWidth/4 @gridGutterWidth/2;
		.screen,.frequency,.not-recommended,.population-relationships{
			margin:0px @gridGutterWidth/2;
		}
		.nav{
			padding:@gridGutterWidth/4 @gridGutterWidth/2;
			margin-bottom:0px;
		}
	}
}

.recommendations-actions{
	background-color:darken(@grayLighter,10);
	padding:@gridGutterWidth/4 @gridGutterWidth/2;
	.btn{
		position:relative;
		border-radius:0px;
		padding-left:30px;
		i{
			display:block;
			position:absolute;
			top:3px;
			left:5px;
			width:15px;
			height:15px;
			margin:@gridGutterWidth/8;
			margin-right:@gridGutterWidth/4;
			background-image:url('../i/icons.png');
			background-repeat:no-repeat;
			background-position:0px 0px;
		}
	}
	.btn.print{
		i{
			background-position:-44px 0px;
		}
	}
	.btn.email{
		i{
			background-position:-16px 0px;
		}
	}
	.btn.text{
		i{
			background-position:4px 0px;
		}
	}
}