{% extends 'base.html' %}

{%	block content	%}
<div class="screen screen-detail">
	<div class="row-fluid">
		<div class="span6">
			<h1 class="title">{{screen.name}}</h1>
			{% for note in notes %}
			<div id="note-id" class="note {{note.type}}">
				<div class="population-relationships list">
				{% for pop_rel in note.populations.all %}
				{% include 'population_relationships/list-item.html' with population_relationship=pop_rel %}
				{% empty %}
				<span class="population pop everyone">Everyone</span>
				{% endfor %}
				</div>
				{% if note.title %}<h2>{{note.title}}</h2>{% endif %}
				{{note.text|safe}}
			</div>
			{% endfor %}
		</div>
		<div class="span6">
		<h2>Recommendations</h2>
		<div class="recommendations recommendations-list list">
		{% for recommendation in recommendations %}
		{% include 'recommendations/list-item-detailed.html' with recommendation=recommendation %}
		{% endfor %}
		</div>
		</div>
	</div>
</div>
{%	endblock	%}