{% extends 'base.html' %}

{% block navigation %}
	<a href="/screens/">Screens</a>
{% endblock %}

{%	block content	%}
<div class="screen screen-detail">
	<div class="row-fluid">
		<div class="span6">
		<h2>Recommendations</h2>
		<div class="recommendations recommendations-list list">
		{% for rec in recommendations %}
		{% include 'recommendations/list-item-link.html' with recommendation=rec selected_recommendation=recommendation no_title="True" %}
		{% endfor %}
		</div>
		</div>
		<div class="span6">
			<h1 class="title">{{screen.name}}</h1>
			<p class="alert alert-info">This is the information we present to San Franciscans about this recommendation.</p>
			{% for note in notes %}
			{% include 'notes/detail.html' with note=note %}
			{% endfor %}
		</div>
	</div>
</div>
{%	endblock	%}
