{% extends 'base.html' %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}pchsi-recommends/css/print.css" >
{% endblock %}
	
{% block header %}{% endblock %}


{% block footer %}
	<div class="printed meta">
		Printed on <span class="date">{% now "l, F jS Y" %}</span> from <span class="web-address">www.justasksf.org</span>
	</div>
	<div class="address address-logo">
		<img class="sfdph-logo logo" src="{{STATIC_URL}}pchsi-recommends/i/logo-sfseal-100.jpg" />
		<span class="line">San Francisco Department of Public Health</span>
		<span class="line">Population Health and Prevention</span>
		<span class="line">101 Grove Street</span>
		<span class="line">San Francisco, CA 94102</span>
	</div>
{% endblock %}