{% extends 'base.html' %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}pchsi-recommends/css/print.css" >
{% endblock %}
	
{% block header %}{% endblock %}


{% block footer %}
	<div class="printed meta">
		Printed on : <span class="date"></span> from <span class="web-address">http://www.justasksf.org</span>
	</div>
	<div class="contact">
		<span class="line">Contact Us:</span>
		<span class="phone">(415) 555-5555</span>
	</div>
	<div class="address">
		<i class="dph-logo logo"></i>
		<span class="line">San Francisco Department of Public Health</span>
		<span class="line">Population Health and Prevention</span>
		<span class="line">101 Grove Street</span>
		<span class="line">San Francisco, CA 94102</span>
	</div>
{% endblock %}