body {
  background: #FFF;
}
.container {
  width: auto;
  pargin: 0.5cm;
}
.container .content {
  margin: 0px;
}
.recommendation {
  padding: 10px 20px;
}
#footer {
  color: #000;
  font-size: 1em;
  margin-top: 20px;
}
#footer .address {
  margin-top: 10px;
}
#footer .address.address-logo {
  position: relative;
  padding-left: 114px;
  padding-top: 20px;
}
#footer .address.address-logo .sfdph-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('../i/logo-sfseal-100.jpg');
  width: 104px;
  height: 104px;
}
#footer .address.address-logo img.sfdph-logo {
  background-image: none;
}
