{% extends "base.html" %}
{% load crispy_forms_tags %}

{%	block content	%}
<div class="row-fluid">
	<div class="span6">
		<p>We use local health information to create recommendations that better the health and well being. Through this website you can access our recommendations for testing,and vaccination.</p>
		<p>Answer a few questions and we’ll recommend tests, screens and vaccines specifically for you. Depending on your answers, we will ask you additional questions to further specify our recommendations.</p>
		<p>Discuss our recommendations with your doctor. If you don’t have a doctor, we’ll share a list of community resources that provide these services.</p>
		<p class="well">Any information you enter here is private and will not be saved in any way.</p>
		<p><strong>Health Care Providers:</strong> <a href="/providers">Clinical information is provided here.</a></p>
	</div>
	<div class="span6">
		<div class="alert alert-info">
			<p>Get preventative health recommendations specifically for you by answering five quick questions.</p>
		</div>
		{% crispy form %}
	</div>
</div>
{% endblock  %}