{% extends "base.html" %}
{% load crispy_forms_tags %}

{%	block content	%}
<div class="row-fluid">
	<div class="span7">
		<h1>Screening and Vaccination Recommendations</h1>
		<p>The San Francisco Department of Public Health uses local health surveillance information to create preventative health recommendations for San Franciscans.</p>
		<p>Complete the questions to get your most accurate reading. We might may ask you additional questions depending on your answers.</p>
		<p class="well">All of the information you enter here is private and will not be saved in any way.</p>
		<p><strong>Health Care Providers:</strong> use our <a href="/providers">optimized form</a> with clients.</p>
	</div>
	<div class="span5">
		{% crispy form %}
	</div>
</div>
{% endblock  %}