{% extends "base.html" %}
{% load crispy_forms_tags %}

{%	block content	%}
	<h1>{{questionnaire.title}}</h1>
	<p class="description">{{questionnaire.directions}}</p>
	<div class="notification alert">
		<p>Based on your responses we have more questions for you.</p>
		<p>You can skip these questions and <a href="/recommendations">get your recommendations.</a></p>
	</div>
	{% crispy form %}
	<p class="">Skip these questions and <a href="/recommendations">get your recommendations.</a></p>
{% endblock  %}