<p><strong>Welcome to Just Ask SF.</strong> Use this website to find personalized preventative screening and vaccination recommendations in San Francisco.</p>
<p>Answer our questions and we'll recommend screens and vaccines based on your responses. The more accurate you are in sharing your information, the better we can help provide you with recommendations for preventative services.</p>
<p>Take our recommendations when you visit your doctor. If you don't have a doctor, we provide a list of community resources where you can access these services.</p>
<p>Our recommendations were created by the San Francisco Department of Public Health specifically for San Francisco.</p>
<p class="well">Any information you enter here is private and will not be saved in any way.</p>
<p><strong>Health Care Providers:</strong> <a href="/providers">Clinical information is provided here.</a></p>