{% extends 'questions/page.html' %}
{% load crispy_forms_tags %}

{% block question-nav %}
	<a href="/">Reset Form</a>
	<a href="/change">Show Answers</a>
{% endblock %}

{% block question-content %}
	<div class="row-fluid">
		<div class="span6">
			{% include "questions/responses-frame.html" %}
		</div>
		<div class="span6">
			<h2 class="screen">{{recommendation.screen.name}}</h2>
			{% if recommendation.frequency %}
			<p class="frequency">{{recommendation.frequency}}</p>
			{% endif %}
			{% for note in notes %}
				{% include 'notes/detail.html' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}