{% extends 'questions/page.html' %}
{% load crispy_forms_tags %}

{% block navigation %}
	<a href="/">Reset Form</a>
	<a href="/recommendations/">Show Answers</a>
{% endblock %}

{% block content %}
		<div id="recommendation-column" class="column">
			{% include "questions/responses-frame.html" %}
		</div>
		<div id="detail-column" class="column">
			{% block detail-column %}
			<h2 class="screen">{{recommendation.screen.name}}</h2>
			{% if recommendation.frequency %}
			<p class="frequency">{{recommendation.frequency}}</p>
			{% endif %}
			{% for note in notes %}
				{% include 'notes/detail.html' %}
			{% endfor %}
			{% endblock %}
		</div>
{% endblock %}