{% extends 'recommendations/list.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="row-fluid">
		<div class="span7">
	<!-- {{age}}{% for population in populations %} - {{population.name}}{% endfor %} -->
	<p>Below is a list of recommendations for preventative screens based on health trends in San Francisco.</p>
	<p>To prepare for your next doctor's visit you can:</p>
	<ul>
		<li><a href="#">Print this list</a></li>
		<li><a href="#">Email this list</a></li>
		<li><a href="#">Text this list</a></li>
	</ul>
	<p>This list is a series of recommendations, and you should discuss this with your health care provider.</p>
	{{ block.super }}
		</div>
		<div class="span5">
			<a href="/">Reset Form</a>
			{% if form %}
			{% crispy form %}
			{% else %}
			<div class="alert">
				<p>No Additional Questions</p>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}