<!-- {{age}}{% for population in populations %} - {{population.name}}{% endfor %} -->
<p>According to the answers you provided, the San Francisco Department of Public Health recommends the following screens and vaccinations.</p>
<div class="description">
	<p>Take your recommendations to your doctor by printing, emailing or texting this list to your self.</p>
</div>
<div class="recommendations">
	{% include 'recommendations/actions.html' %}
	{% for recommendation in recommendations %}
		{% include "recommendations/list-item.html" with recommendation=recommendation %}
	{%  empty  %}
	<div class="alert">No Recommendations</div>
	{% endfor %}
	{% include 'recommendations/actions.html' %}
</div>