{% extends 'recommendations/list.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="row-fluid">
		<div class="span7">
			<!-- {{age}}{% for population in populations %} - {{population.name}}{% endfor %} -->
			<p>Below is a list of recommendations for preventative screens based on health trends in San Francisco. We recommend you take this list to your next doctor appointment. If you don't have a primary care provider, for each screen we provide information for where you can get a screen or vaccination.</p>
			<p>You can save this list by printing, emailing or texting it to yourself.</p>
			<div class="recommendations">
				{% include 'recommendations/actions.html' %}
				{{ block.super }}
				{% include 'recommendations/actions.html' %}
			</div>
		</div>
		<div class="span5">
			{% if form %}
			{% crispy form %}
			{% else %}
			<div class="alert">
				<p>No Additional Questions</p>
			</div>
			{% endif %}
			<a href="/">Reset Form</a>
		</div>
	</div>
{% endblock %}