{% if link %}
<a style="display:block;" ref="{{link}}" id="recommendation-recommendation.id" class="recommendation">
{% else %}
<div id="recommendation-{{recommendation.id}}" class="recommendation">
{% endif %}
	<div class="population-relationships population-relationships-list list">
	{% for pop_rel in recommendation.populations.all %}
	{% include 'population_relationships/list-item.html' with population_relationship=pop_rel %}
	{% endfor %}
	</div>
	{% if not no_title %}<h3 class="screen">{{recommendation.screen.name}}</h3>{% endif %}
	{% if recommendation.not_recommended %}
	<p class="not-recommended">Not Recommended</p>
	{% else %}
	{% if recommendation.frequency %}
	<p class="frequency">{{recommendation.frequency}}</p>
	{% endif %}
	{% endif %}
{% if link %}
</a>
{% else %}
</div>
{% endif %}
