<div id="recommendation-{{recommendation.id}}" class="recommendation">
	<h3 class="screen">{{recommendation.screen.name}}</h3>
	{% if recommendation.not_recommended %}
	<p class="not-recommended">Not Recommended</p>
	{% else %}
	{% if recommendation.frequency %}
	<p class="frequency">{{recommendation.frequency}}</p>
	{% endif %}
	{% endif %}
	<div class="nav">
	{% for note in notes %}
		<a href="/recommendations/{{recommendation.id}}/#note-{{note.id}}">{{note.title}}</a>
	{% endfor %}
	</div>
</div>